apiVersion: v1
kind: Service
metadata:
  name: {{ include "jupyterhub-usage-quota-service.usage-quota-service.fullname" . }}
  labels:
    {{- include "jupyterhub-usage-quota-service.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  selector:
    {{- include "jupyterhub-usage-quota-service.selectorLabels" . | nindent 4 }}
  ports:
  - name: http
    port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
